.container{
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, rgb(55, 55, 208), rgb(35, 35, 201));
}

.calculator{
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  
}