.container{
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, rgb(55, 55, 208), rgb(35, 35, 201));
}

.calculator{
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  
}

form input{
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(53, 53, 185);
  margin: 2px;
}